include common/header
.adv
    .bd.about
        img(src="/img/ad1.jpg")
.w.p-about
    .text
        h2 我们的故事
        p
        |    这是一群热爱互联网的人，我们乐观，包容，执着。这是一群热爱互联网的人，我们乐观，包容，执着。
        |    这是一群热爱互联网的人，我们乐观，包容，执着。这是一群热爱互联网的人，我们乐观，包容，执着。
        |    这是一群热爱互联网的人，我们乐观，包容，执着。这是一群热爱互联网的人，我们乐观，包容，执着。
        |    这是一群热爱互联网的人，我们乐观，包容，执着。这是一群热爱互联网的人，我们乐观，包容，执着。
        |    这是一群热爱互联网的人，我们乐观，包容，执着。这是一群热爱互联网的人，我们乐观，包容，执着。
        |    这是一群热爱互联网的人，我们乐观，包容，执着。这是一群热爱互联网的人，我们乐观，包容，执着。
    .text
        h2 我们的信念
        p 这是一群热爱互联网的人，我们乐观，包容，执着。这是一群热爱互联网的人，我们乐观，包容，执着。这是一群热爱互联网的人，我们乐观，包容，执着。这是一群热爱互联网的人，我们乐观，包容，执着。这是一群热爱互联网的人，我们乐观，包容，执着。
    .text
        h2 我们的理想
        p 这是一群热爱互联网的人，我们乐观，包容，执着。这是一群热爱互联网的人，我们乐观，包容，执着。这是一群热爱互联网的人，我们乐观，包容，执着。这是一群热爱互联网的人，我们乐观，包容，执着。这是一群热爱互联网的人，我们乐观，包容，执着。
    .contact.text
        h2 你可以这样找到我们
        p
            span 电话：
            | 18801340040
        p
            span QQ：
            | 1132898034
        p
            span E-MAIL：
            | service@vivse.com
include common/footer