include common/header
.adv.adv-site-build
    .bd.product-list
        img(src="/img/ad4.jpg")
.w
    .sitebuild
        ul
            li.step1
                div
                    h3 网站策划
                    p 网站策划是将您所提供的需求进行规划整理并按照网站建设所细分的流程与步骤进行资料和需求的分析与梳理、规划与建议，对网站定位、网站设计、网站技术、网站推广和运营等各方面问题进行整体策划，并提供完善解决方案的过程。
            li.step2
                div
                    h3 网站设计
                    p 网站设计是围绕网站的目的与整体定位结合网站设计的流行趋势，以及要表达的内容样式对网站的视觉表现做相应的视觉规划，通过色彩、布局、素材规划、细节处理等步骤的结合，让网站的视觉效果符合网站的定位，使网站的受众得到有效的视觉感知。
            li.step3
                div
                    h3 页面开发
                    p 网站制作是将网站设计师的设计效果图用网站所需的技术方式展示出来形成可浏览的页面形式。博越广维遵循W3C 页面制作规范，采用DIV+CSS的方式，结合页面布局结构，加入AJAX、JQUERY、JAVASCRITP等特效，并满足多浏览器（ie7/8/9, firefox,safri，chrome,遨游）兼容，以用户体验做为第一位，注重浏览者的综合感受，提升用户的操作感受 ，以利于基础SEO优化。 我们提供：规范文件目录命名、源码标题关键字编写、UTF8编码应用、适应分辨率、浏览器兼容、特效制作、版面整体性、规范CSS书写等制作细节服务。
            li.step4
                div
                    h3 程序开发
                    p 要让网站具有可操作性和功能交互性网站需要对所实现的页面进行程序代码的嵌套。博越广维拥有自主研发的系统平台，经过多年的升级与完善，完全可以满足企业的大众需求，同时需求定制化也可满足更多用户的个性化需求。
            li.step5
                div
                    h3 测试与维护
                    p 网站制作完上传到服务器之后针对网站的各项性能情况进行系统的检测工作。博越广维网站测试分为：内部测试、客户测试、以及增值测试（安全测试、压力测试、集成并发测试），以满足不同用户的多种需求。
            li.step6
                div 
                    h3 推广与优化
                    p 网站推广与优化的最终目的是指让更多的客户知道你的网站在什么位置。让尽可能多的潜在用户了解并访问网站，从而利用网站实现向用户传递营销信息的目的，用户通过网站获得有关产品和公司的信息，为最终形成购买决策提供支持。
include common/footer