include common/header
.adv.adv-list-body
    .bd.product-list
        img(src="/img/ad3.jpg")
.w
    .position 当前位置：
    .subnav
        h2 分类
        ul
            li
                a.current(href="#") 企业信息网站解决方案
    .main
        h1.title 企业信息网站解决方案
include common/footer