doctype 5
html
    head
        meta(charset="utf-8")
        title #{config.name}
        meta(name="description",content="#{config.description}")
        meta(name="keywords",content="#{config.keywords}")
        link(rel='stylesheet', href='/css/bootstrap.min.css')
        link(rel='stylesheet', href='/css/bootstrap-responsive.min.css')
        link(rel='stylesheet', href='/css/admin.css')
        script(src="/js/jquery.js", type="text/javascript")
        script(src="/js/bootstrap.min.js", type="text/javascript")
    body
        .navbar.navbar-inverse.navbar-fixed-top
            .navbar-inner
                .container-fluid
                    a.brand(href="/admin") #{config.name}
                    .nav-collapse.collapse
                        ul.nav
                            li.active
                                a(href="/admin") 管理中心
                            li
                                a(href="/",target="_blank") 前台首页
                        ul.nav.pull-right
                            li
                                a.dropdown-toggle(data-toggle="dropdown",href="#") 
                                    | 你好，admin 
                                    b.caret
                                ul.dropdown-menu
                                    li
                                        a(href="#")
                                            i.icon-lock
                                            | 修改密码
                                    li
                                        a(href="#")
                                            i.icon-lock
                                            | 退出登录
        .container-fluid.vi-layout
            .row-fluid
                .span2
                    ul.nav.nav-list.bs-docs-sidenav
                        li.nav-header 用户面板
                        li
                            a(href="/admin/product-list") 产品管理
                        li
                            a(href="/admin/product-cat-list") 产品分类
                        li
                            a(href="/admin/article-list") 文章管理
                        li
                            a(href="/admin/about") 关于我们
                        li
                            a(href="/admin/contact") 联系我们
                        li
                            a(href="/admin/message") 留言
                block content