.pagination.pagination-right
    ul
        -if( isNaN(req.query.p) || req.query.p<=0 )
            li
                a.next(href="?p=1") »
        -else if( (count%8==0)?(req.query.p == parseInt(count/8) - 1):(req.query.p == parseInt(count/8)) )
            li
                a.pre(href="?p=#{req.query.p-1}") «
        -else
            li
                a.pre(href="?p=#{req.query.p-1}") «
            li
                a.next(href="?p=#{+req.query.p+1}") »