extends layout

block content
    .span10
        .page-title
            .opts
                h3=title
        form.form-horizontal(action="/admin/product-add",method="post",enctype="multipart/form-data",accept-charset="utf-8")
            .control-group
                label.control-label 产品分类
                .controls
                    select(name="cat_id")
                        each item in ProductCats
                            option(value="#{item._id}") #{item.name}
            .control-group
                label.control-label 产品标题
                .controls
                    input(type="text",placeholder="产品标题",name="title")
            .control-group
                label.control-label 产品简介
                .controls
                    input(type="text",placeholder="产品简介",name="content")
            .control-group
                label.control-label 产品价格
                .controls
                    input(type="text",placeholder="产品价格",name="price")
            .control-group
                label.control-label 产品图片
                .controls
                    input(type="file",placeholder="产品图片",name="thumbnail")
            .control-group
                .controls
                    button.btn(type="submit") 确定