extends layout

block content
    .span10
        .page-title
            .opts
                h3=title
        .alert.alert-succee
            button.close(type="button",data-dismiss="alert") &times;
            | #{info}
        form.form-horizontal(action="/admin/user-add",method="post",accept-charset="utf-8")
            .control-group
                label.control-label 用户名
                .controls
                    input(type="text",placeholder="用户名",name="name")
            .control-group
                label.control-label 密码
                .controls
                    input(type="text",placeholder="密码",name="password")
            .control-group
                label.control-label 确认密码
                .controls
                    input(type="text",placeholder="确认密码",name="password_repeat")
            .control-group
                label.control-label 邮箱
                .controls
                    input(type="text",placeholder="邮箱",name="email")
            .control-group
                .controls
                    button.btn(type="submit") 确定添加